*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-padding-top: 90px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
}

button span {
  pointer-events: none;
}

button:has(span) {
  display: flex;
  align-items: center;
}

a:has(span) {
  display: flex;
  align-items: center;
  text-decoration: none;
}

button.reset {
  background: none;
  border: none;
}

.container {
  max-width: 1024px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.popup {
  background-color: rgba(32, 32, 32, 0.804);
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  place-items: center;
}

.popup__container {
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}
